/* body {
  background: url("./images/fish_idle.gif");
  background-repeat: no-repeat;
} */

img {
  width: 80%;
  /* min-height: 100%; */
}

.background {
  display: flex;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

.mover {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: tomato;
  /* transition: transform 0.5s linear; */
}
