@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.background {
  display: flex;
  flex-direction: column;
}

.mover-container {
  width: 40px;
  height: 5px;
  background-color: aqua;
  position: relative;
  overflow: hidden;
}

.mover {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 5px;
  border-radius: 20px;
  text-align: center;
  /* transition: transform 0.5s linear; */
}

.detail-page {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.App {
  display: flex;
  height: 100%;
}

.fish-book {
  display: flex;
  height: 100%;
}

.fish-list {
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
}

.fish-detail {
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
}

.fishing {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-fish-page {
  min-height: 10vh;
  text-align: center;
}

header {
  min-width: 5vw;
}

.button {
  font-size: 5vw;
  margin-left: 4vw;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.mover-div {
  align-self: center;
}

ul {
  list-style: url("./images/fish-solid.svg");
  list-style-position: inside;
}

.fish-detail li {
  margin-left: 2rem;
}

h1 {
  
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

